# OS specific
.DS_Store

# Vagrant
boxes/*
/.vagrant
*.log
.vagrantuser

# Jupyter
jupyter.dotfile/migrated

# Random stuff that gets dumped in .config
config.dotfile/configstore/*
config.dotfile/matplotlib/*


