# OS specific
.DS_Store

# Vagrant
boxes/*
.vagrant/*
*.log

# Jupyter
jupyter.dotfile/migrated

# XDG compliant config
config.dotfile/*
!config.dotfile/README.md
!config.dotfile/powerline
!config.dotfile/dotfiles
!config.dotfile/direnv/direnvrc

# IDEs
.vscode/*
