# OS specific
.DS_Store

# Vagrant
boxes/*
/.vagrant
*.log
.vagrantuser

# Jupyter
jupyter.dotfile/migrated

# xdg compliant config
config.dotfile/*
!config.dotfile/README.md
!config.dotfile/powerline
!config.dotfile/dotfiles
